<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <mirrors>
        <mirror>
            <id>aado-maven-central</id>
            <name>aado-maven-central</name>
            <url>https://repo.cci.nokia.net/jcenter/</url>
            <mirrorOf>external:*,!nswps-mvn-inprogress,!servdesign-mvn-snapshots,!servdesign-mvn-candidates-local,!servdesign-mvn-candidates,!servdesign-mvn-releases,!norc-mvn-candidates-local,!norc-mvn-releases</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>servdesign-mvn-snapshots</id>
                    <url>https://repo.cci.nokia.net/servdesign-mvn-snapshots</url>
                </repository>
                <repository>
                    <id>norc-mvn-candidates-local</id>
                    <url>https://repo.cci.nokia.net/norc-mvn-candidates-local</url>
                </repository>
				 <repository>
                    <id>norc-mvn-releases</id>
                    <url>https://repo.cci.nokia.net/norc-mvn-releases</url>
                </repository>
                <repository>
                    <id>servdesign-mvn-candidates-local</id>
                    <url>https://repo.cci.nokia.net/servdesign-mvn-candidates-local</url>
                </repository>
                <repository>
                    <id>servdesign-mvn-candidates</id>
                    <url>https://repo.cci.nokia.net/servdesign-mvn-candidates</url>
                </repository>
                <repository>
                    <id>servdesign-mvn-releases</id>
                    <url>https://repo.cci.nokia.net/servdesign-mvn-releases</url>
                </repository>
				<repository>
                    <id>nswps-mvn-inprogress</id>
                    <url>https://repo3.cci.nokia.net/artifactory/nswps-mvn-inprogress</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
	<servers>
        <server>
            <id>nswps-mvn-inprogress</id>
            <username>${env.ARTIFACTORY_KEY_USR}</username>
            <password>${env.ARTIFACTORY_KEY_PSW}</password>
        </server>
		<server>
            <id>nswps-mvn-releases</id>
            <username>${env.ARTIFACTORY_KEY_USR}</username>
            <password>${env.ARTIFACTORY_KEY_PSW}</password>
        </server>
		<server>
            <id>nswps-generic-candidates</id>
            <username>${env.ARTIFACTORY_KEY_USR}</username>
            <password>${env.ARTIFACTORY_KEY_PSW}</password>
        </server>
    </servers>
</settings>
